* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;

  background: linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364
  );

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 420px;
}

.card {
  background: #fff;
  padding: 26px;
  border-radius: 12px;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.25);
}

h2, h3 {
  text-align: center;
}

label {
  font-size: 13px;
  display: block;
  margin-top: 6px;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;

  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 6px;

  background: #2c5364;
  color: #fff;

  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button.sec {
  background: #ccc;
  color: #000;
}

button:hover {
  opacity: 0.9;
}

.tabs {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
}

.tabs button {
  flex: 1;
}

.hidden {
  display: none;
}

.item {
  background: #f1f1f1;
  padding: 12px;
  border-radius: 8px;
}
