.gerenciar {
  margin-top: 20px;
}

.gerenciar input,
.gerenciar button {
  width: 100%;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 10px;
}

.gerenciar ul {
  padding: 0;
}

.gerenciar li {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 8px;
}

.gerenciar button {
  background: #2e86de;
  color: white;
  border: none;
}
